$spotnet-green: #B3FFB3;
$white: #FFFFFF;

$medium-padding-size: 2em;
$large-padding-size: 3.5em;

body {
  background-color: $spotnet-green;
}

.global {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 100%;
  width: 100%;
}

.centered-message {
  text-align: center;
}

.padded-lr {
  padding-left: $medium-padding-size !important;
  padding-right: $medium-padding-size !important;
}

.padded-extra-lr {
  padding-left: $large-padding-size !important;
  padding-right: $large-padding-size !important;
}

.tab-item > a {
  color: black;
}
