<div class="ui container grid">
  <div class="centered row">
    <h1 class="ui header">
      Welcome to Spotnet
    </h1>
  </div>
  <div class="centered row">
    <a class="ui animated fade basic button" href="{{spotifyAuthRequestUrl}}">
      <div class="visible content">Link your account</div>
      <div class="hidden content">
        <i class="exchange icon"></i>
      </div>
    </a>
  </div>
</div>