<div class="right floated content">
  {{#link-to 'home.idle.connect' slave.uuid}}
  <div class="ui basic button">
    Provide Credentials
  </div>
  {{/link-to}}
</div>
<div class="content">
  <div class="header">Node with UUID {{slave.uuid}}</div>
  <div class="description">
    First connected {{moment-from-now slave.firstConnectedAt}}.
  </div>
</div>