<div class="right floated content">
  {{#link-to 'home.playlist' playlistOwnerId playlistId }}
  <div class="ui basic button">View Songs</div>
  {{/link-to}}
</div>
<div class="content">
  <a class="header" href="{{playlistUrl}}" target="_blank">{{playlistName}}</a>
  <div class="description">{{numPlaylistSongs}} songs</div>
</div>