<div class="right floated content">
  {{!-- TODO: link-to specific playlist route --}}
  <div class="ui basic button">View Songs</div>
</div>
<div class="content">
  <a class="header" href="{{playlistUrl}}" target="_blank">{{playlistName}}</a>
  <div class="description">{{numPlaylistSongs}} songs</div>
</div>