<div class="ui grid">
  {{#if user.imageUrl}}
  <div class="centered row">
    <img class="ui circular image" src="{{user.imageUrl}}">
  </div>
  {{/if}}
  <div class="centered row">
    <p>
      Currently connected to the premium account of
      <a href="{{user.spotifyUrl}}" target="_blank">{{user.displayName}}</a>,
      who has {{user.numFollowers}} followers. Wow!
    </p>
  </div>
  <div class="centered row">
    {{#link-to "disconnect"}}
    <div class="ui basic button">
      Disconnect this account
    </div>
    {{/link-to}}
  </div>
</div>