<div class="ui container">
  <div class="ui basic segment">
    {{#if spotnet.isLoading}}
      {{spinkit-three-bounce}}
    {{else}}
      <div class="ui divided list">
        {{#each (filter-by 'isConnected' false spotnet.slaves) as |slave|}}
          {{idle-slave-node-block slave=slave}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>